CONFIG VCCAUX = "3.3" ;

NET "CLK_100MHz" LOC = V10 |IOSTANDARD = LVCMOS33;
TIMESPEC TS_CLK = PERIOD "CLK_100MHz" 100 MHz HIGH 50%;
NET "CLK_100MHz" TNM_NET = CLK_100MHz;

NET Rx LOC = "L17" | IOSTANDARD = LVTTL;
NET Tx LOC = "L18" | IOSTANDARD = LVTTL;
